.not-logged {
  padding: var(--space-big) var(--space-big);
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.not-logged .button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .not-logged {
    max-width: 960px;
    margin: 0 auto;
  }
}
